// Start:: Root Element
:root {
  // =========== Start:: Theme Colors ===========
  --main_theme_clr: #25006C;
  --secondary_theme_clr: #FF3636;
  --theme_main_bg_clr: #25006C;
  --light_bg_clr: rgba(60, 6, 188, 0.06);
  --theme_text_clr: #000034;
  --theme_text_clr_50: rgba(0, 0, 52, 0.50);
  --simple_shadow_clr: rgba(1, 0, 168, 0.08);
  --mid_shadow_clr: rgba(1, 0, 168, 0.08);
  --heigh_shadow_clr: rgba(1, 0, 168, 0.08);
  --border_main_clr: rgba(1, 0, 168, 0.08);


  --theme_second_bg_clr: rgba(255, 102, 0, 20%);
  --form_content_bg_clr: #fff;
  --deactive_button_clr: #A8A8A8;
  --deactive_button_bg: #ECECEC;
  --mid_theme_text_clr: #2d3030;
  --light_theme_text_clr: #838383;
  --theme_secondary_text_clr: #ffa17a;
  --theme_secondary_text_clr_20: rgba(255, 102, 0, 0.20);
  --theme_secondary_text_clr_5: rgba(255, 162, 122, 0.05);
  --soft_main_theme_clr: #cfc2e9;
  --dark_secondary_theme_clr: #b11e1e;
  --opacity_secondary_theme_clr: rgba(255, 54, 54, 0.6);
  --blurred_clr: rgba(255, 255, 255, 0.6);
  --map_overlay_clr: rgba(225, 225, 225, 0.6);
  --border_clr: #dddddd;
  --skeleton_loader_card_clr: #ebebeb;
  --card_background_clr: #fff;
  --mid_dark_bg_clr: #303030;
  // =========== End:: Theme Colors ===========

  // =========== Start:: Base Colors ===========
  --cart_link_to_home: #909eac;
  --white_clr: #fff;
  --black-clr: #000;
  --lighter_gray_clr: #f9fafb;
  --light_gray_clr: #D7D7DD;
  --mid_gray_clr: #3f3f3f;
  --dark_gray_clr: #313131;
  --mid_blue_clr: #103580;
  --mid_green_clr: #34bf6c;
  --soft_green_clr: #cfffe2;
  --deep_red-clr: #810000;
  --mid_red_clr: #CF0707;
  --light_red_clr: #ff2159;
  --soft_red_clr: #ffd8e2;
  --mid_yellow_clr: #f5d236;
  --soft_yellow_clr: #fffde5;
  --gold_clr: #ffdd00;
  --sales_now: #ffd000;
  --sales_now_out: #ffe77f;
  // =========== End:: Base Colors ===========

  // =========== Start:: Brands Colors ===========
  --facebook_clr: #4267b2;
  --twitter_clr: #1da1f2;
  --whatsApp_clr: #25d366;
  --telegram_clr: #0088cc;
  --linkedin_clr: #2867b2;
  --youtube_clr: #ff0000;
  // =========== End:: Brands Colors ===========

  // Start:: Dark Theme Colors
  .dark_theme {
    // =========== Start:: Theme Colors ===========
    --theme_main_bg_clr: #232a3b;
    --theme_second_bg_clr: #293145;
    --form_content_bg_clr: rgba(41, 49, 69, 0.6);
    --theme_text_clr: #fff;
    --theme_secondary_text_clr: #fff;
    --secondary_theme_clr: #151c2e;
    --theme_inputs_clr: #0d132266;
    --blurred_clr: rgba(41, 49, 69, 0.6);
    --map_overlay_clr: rgba(13, 11, 41, 0.6);
    --simple_shadow_clr: rgba(9, 20, 37, 0.4);
    --mid_shadow_clr: rgba(9, 20, 37, 0.6);
    --border_clr: #283146;
    --card_background_clr: #000;
    // =========== End:: Theme Colors ===========
  }

  // End:: Dark Theme Colors
}

$main_theme_clr: #25006C;
$secondary_theme_clr: #FF3636;
$theme_main_bg_clr: #25006C;
$light_main_theme_clr: #3C06BC;
$light_bg_clr: rgba(60, 6, 188, 0.06);
$theme_text_clr: #000034;
$theme_text_clr_50: rgba(0, 0, 52, 0.50);
$simple_shadow_clr: rgba(1, 0, 168, 0.08);
$mid_shadow_clr: rgba(1, 0, 168, 0.08);
$heigh_shadow_clr: rgba(1, 0, 168, 0.08);
$border_main_clr: rgba(1, 0, 168, 0.08);
$card_background_clr: #fff;
$card_background_dark_clr: #3C06BC;
$white_clr: #fff;


// End:: Root Element

// Start:: Fonts
$light_font: 'SomarSans-Light';
$regular_font: 'SomarSans-Regular';
$medium_font: 'SomarSans-Medium';
$semi_bold_font: 'SomarSans-SemiBold';
$bold_font: 'SomarSans-Bold';
$mid_green_clr: #34bf6c;
// End:: Fonts

// Start:: General Varibles
$section_block_padding: 100px;
// End:: General Varibles