* {
  font-family: $regular_font;
  @include boxSizing;
  margin: 0;
  line-height: 1.8;
  list-style: none;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--theme_bg_clr);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--main_theme_clr);
    border: 2px solid var(--theme_bg_clr);
    border-radius: 15px;
  }
}

section {
  background-color: $theme_bg_clr;
  padding-block: $section_block_padding;
}

p {
  line-height: 2;
}

.bg-main-color {
  background-color: $main_theme_clr !important;
  color: #FFFFFF !important;
}

.v-container {
  margin-inline: auto;
}

// Start:: Global Buttons Classes
.primaryBtn {
  @include mainBtn($main_theme_clr)
}

.secondaryBtn {
  @include mainBtn($secondary_theme_clr)
}

// Start:: Global Alignment Classes
.alignStart {
  @include flexStartAlignment
}

.alignCenter {
  @include flexCenterAlignment
}

// End:: Global Theme Classes