.navbar_wrapper {
  padding-block: 1rem;

  .app-nav {
    @include media(md) {
      display: none
    }
  }

  .logo {
    @include size(9rem, auto);

    img {
      max-inline-size: 100%;
    }

    &.filter_white {
    @include filterWhite
    }
  }

  .nav_list {
    @include flex(center, center, row);
    gap: 2rem;

    .nav_item {
      .nav_link {
        text-decoration: none;
        @include font(500, 1.15rem, $white_clr);
        font-family: $medium_font;
        text-transform: capitalize;
      }
    }
  }
}